In [1]:
library(questionr)

In [2]:
data(hdv2003)

In [3]:
d <- hdv2003

In [4]:
names(d)

 [1] "id"            "age"           "sexe"          "nivetud"
 [5] "poids"         "occup"         "qualif"        "freres.soeurs"
 [9] "clso"          "relig"         "trav.imp"      "trav.satisf"
[13] "hard.rock"     "lecture.bd"    "peche.chasse"  "cuisine"
[17] "bricol"        "cinema"        "sport"         "heures.tv"

In [5]:
str(d)

'data.frame':	2000 obs. of  20 variables:
 $ id           : int  1 2 3 4 5 6 7 8 9 10 ...
 $ age          : int  28 23 59 34 71 35 60 47 20 28 ...
 $ sexe         : Factor w/ 2 levels "Homme","Femme": 2 2 1 1 2 2 2 1 2 1 ...
 $ nivetud      : Factor w/ 8 levels "N'a jamais fait d'etudes",..: 8 NA 3 8 3 6 3 6 NA 7 ...
 $ poids        : num  2634 9738 3994 5732 4329 ...
 $ occup        : Factor w/ 7 levels "Exerce une profession",..: 1 3 1 1 4 1 6 1 3 1 ...
 $ qualif       : Factor w/ 7 levels "Ouvrier specialise",..: 6 NA 3 3 6 6 2 2 NA 7 ...
 $ freres.soeurs: int  8 2 2 1 0 5 1 5 4 2 ...
 $ clso         : Factor w/ 3 levels "Oui","Non","Ne sait pas": 1 1 2 2 1 2 1 2 1 2 ...
 $ relig        : Factor w/ 6 levels "Pratiquant regulier",..: 4 4 4 3 1 4 3 4 3 2 ...
 $ trav.imp     : Factor w/ 4 levels "Le plus important",..: 4 NA 2 3 NA 1 NA 4 NA 3 ...
 $ trav.satisf  : Factor w/ 3 levels "Satisfaction",..: 2 NA 3 1 NA 3 NA 2 NA 1 ...
 $ hard.rock    : Factor w/ 2 levels "Non","Oui": 1 1 1 1 1 1 1 1 1 1 ...
 $ lecture.bd   : Factor w/ 2 levels "Non","Oui": 1 1 1 1 1 1 1 1 1 1 ...
 $ peche.chasse : Factor w/ 2 levels "Non","Oui": 1 1 1 1 1 1 2 2 1 1 ...
 $ cuisine      : Factor w/ 2 levels "Non","Oui": 2 1 1 2 1 1 2 2 1 1 ...
 $ bricol       : Factor w/ 2 levels "Non","Oui": 1 1 1 2 1 1 1 2 1 1 ...
 $ cinema       : Factor w/ 2 levels "Non","Oui": 1 2 1 2 1 2 1 1 2 2 ...
 $ sport        : Factor w/ 2 levels "Non","Oui": 1 2 2 2 1 2 1 1 1 2 ...
 $ heures.tv    : num  0 1 0 2 3 2 2.9 1 2 2 ...

In [7]:
###  https://datatofish.com/export-dataframe-to-csv-in-r/
write.csv(d, 'donnees/hdv2003.csv', row.names = FALSE)

In [12]:
head(d)

  id age sexe  nivetud                                              poids
1 1  28  Femme Enseignement superieur y compris technique superieur 2634.398
2 2  23  Femme NA                                                   9738.396
3 3  59  Homme Derniere annee d'etudes primaires                    3994.102
4 4  34  Homme Enseignement superieur y compris technique superieur 5731.662
5 5  71  Femme Derniere annee d'etudes primaires                    4329.094
6 6  35  Femme Enseignement technique ou professionnel court        8674.699
  occup                 qualif     freres.soeurs clso
1 Exerce une profession Employe    8             Oui
2 Etudiant, eleve       NA         2             Oui
3 Exerce une profession Technicien 2             Non
4 Exerce une profession Technicien 1             Non
5 Retraite              Employe    0             Oui
6 Exerce une profession Employe    5             Non
  relig                       trav.imp                     trav.satisf
1 Ni croyance ni appartenance Peu important                Insatisfaction
2 Ni croyance ni appartenance NA                           NA
3 Ni croyance ni appartenance Aussi important que le reste Equilibre
4 Appartenance sans pratique  Moins important que le reste Satisfaction
5 Pratiquant regulier         NA                           NA
6 Ni croyance ni appartenance Le plus important            Equilibre
  hard.rock lecture.bd peche.chasse cuisine bricol cinema sport heures.tv
1 Non       Non        Non          Oui     Non    Non    Non   0
2 Non       Non        Non          Non     Non    Oui    Oui   1
3 Non       Non        Non          Non     Non    Non    Oui   0
4 Non       Non        Non          Oui     Oui    Oui    Oui   2
5 Non       Non        Non          Non     Non    Non    Non   3
6 Non       Non        Non          Non     Non    Oui    Oui   2